<section class="text-center grid grid-cols-1 h-screen content-center">
  <h1 class="text-2xl">Michael Lee</h1>
  <h2 class="text-sm font-light">Software Engineering Manager</h2>
  <br>
  <a href="mailto:michael@mrlee.io" class="text-sky-500">michael@mrlee.io</a>
</section>