<div class="hmin-h-screen">
  <h1 class="text-5xl font-bold">Welcome to Scrawled</h1>
  <p class="py-6">Your digital canvas for creative expression.</p>

  <button class="btn btn-primary">Hello daisyUI!</button>
</div>
